# 3.2 Simple calculations (8 points)
Perform the following tasks using Python within Jupyter notebook.
1. Add two integers together
2. Show how parenthesis changes the order of operations when using multiplication and addition together.
3. Show how to square and cube numbers.
4. Assign numbers to variables and then perform mathematical operations (e.g., add, subtract, multiply) using the variables.
5. Set the variable pi = 3.14159265 and then round it to two decimal places.
6. See what happens when you try to divide a number by 0.
7. Add an integer and a floating point number. Is the result a floating point number or an integer?
8. Compute the remainder of an odd number when divided by 2.

In [1]:
#1 - Add two integers together
print(5+5)

10

In [2]:
#2 - Show how parenthesis changes the order of operations when using multiplication and addition together.
print((2+2)*2)
print(2+2*2)

8
6

In [5]:
#3 - Show how to square and cube numbers.
print(2**2)
print(5**3)

4
125

In [7]:
#4 - Assign numbers to variables and then perform mathematical operations (e.g., add, subtract, multiply) using the variables.
x=6
y=2

print(x+y)
print(x*y)
print(x/y)

8
12
3.0

In [25]:
#5 - Set the variable pi = 3.14159265 and then round it to two decimal places.
pi=3.14159265
print(type(pi))
round(pi,2) #round function will round off a floating point number, by default it rounds to zero decimal places

<class 'float'>

3.14

In [27]:
#6 - See what happens when you try to divide a number by 0.
print(0/4)
print(1/0)

0.0

ZeroDivisionError: division by zero

In [29]:
#7 - Add an integer and a floating point number. Is the result a floating point number or an integer?
print(2+5.22)
print(type(2+5.22))

7.22
<class 'float'>

In [30]:
#8 - Compute the remainder of an odd number when divided by 2.
print(9/2)

4.5

3.4 Working with strings (7 points)
1. Enter Hello World! as a string
2. Assign your first name to the variable first_name and your last name to the variable last_name.
3. Calculate the number of characters in your first name.
4. Using string indexing, get the first letter of your first name.
5. Using string indexing, get the last letter in your last name.
6. See what happens when you add first_name and last_name.
7. See what happens when you multiply your first_name by an integer between 1 and 5.

In [33]:
#1 Enter Hello World! as a string
string= 'Hello World'
print('Hello World')
print(type('Hello World')) #identify the comment type

Hello World
<class 'str'>

In [13]:
#2 Assign your first name to the variable first_name and your last name to the variable last_name.
first_name='Cindy'
last_name='Herrera'
print(first_name , last_name)

Cindy Herrera

In [3]:
#3 Calculate the number of characters in your first name.
print(len('Cindy'))

5

In [6]:
#4 Using string indexing, get the first letter of your first name.
first_name= 'Cindy'
print(first_name[0])

C

In [8]:
#5 Using string indexing, get the last letter in your last name.
last_name= 'Herrera'
print(last_name[6])

a

In [10]:
#6 See what happens when you add first_name and last_name.
print('first_name' + 'last_name') #adding the bothe values combines them with no space between values
print('first_name' , 'last_name') #adding a comma will provide a space between values

first_namelast_name
first_name last_name

In [11]:
#7 See what happens when you multiply your first_name by an integer between 1 and 5.
print('first_name'* 5) #multiply the first name tells it to duplicate it 5x's with no space between valuess

first_namefirst_namefirst_namefirst_namefirst_name

3.5 Working with lists (5 points)
1. Create a list of numbers from 1 to 5 and assign it to the variable L.
2. Using list indexing, select the second item in the list.
3. Using slices, get a list containing only the 2nd, 3rd, and 4th numbers.
4. Append a 6 to the end of the list.
5. Using slices, replace the numbers 2 and 3 with 8 and 9.

In [15]:
#1 - Create a list of numbers from 1 to 5 and assign it to the variable L.
r = range(6)
l = [*r] 
print (l:\)

[0, 1, 2, 3, 4, 5]

In [50]:
#2 - Using list indexing, select the second item in the list.
list = [0,1,2,3,4,5] 
print (list[1:2])  #fetches items at offsets 1 up to but not including 2

[1]

In [55]:
#3 - Using slices, get a list containing only the 2nd, 3rd, and 4th numbers.
list = [0,1,2,3,4,5] 
print (list[1:4])  #fetches items at offsets 1 up to but not past the 4th

[1, 2, 3]

In [56]:
#4 - Append a 6 to the end of the list.
list = [0,1,2,3,4,5]
list.append(6) #add a number 6 to the end
print (list)

[0, 1, 2, 3, 4, 5, 6]

In [60]:
#5 - Using slices, replace the numbers 2 and 3 with 8 and 9.
list = [0,1,2,3,4,5]
list[2:4] = ['8', '9'] #replace 2 and 3 with 8 and 9
print (list)

[0, 1, '8', '9', 4, 5]